.error {
  color: red;
}

.top25 {
  margin-top: 25px;
}

.navbar-header {
  font-weight: bolder;
}

.navbar-header i {
  width: 30px;
}

.nav.navbar-nav i {
  width: 20px;
}

.btn i {
  margin-right: 5px;
}

.fa.fa-no-margin{
  margin-right: 0;
}
