extends layout/layout
block content
    p Tutaj krótko opisać
    ul
      li Wykorzystanie ciągów znaków
      li Wykorzystanie list
      li Wykorzystanie zbiorów
      li Wykorzystanie zbiorów posortowanych
      li Wykorzystanie tablic asocjacyjnych
      li Wykorzystanie bitmap
      li Wykorzystanie HyperLogów
      li Opis express
      li Opis path
      li Opis pug
      li Opis redis
      li Opis Nodemon
      li Opis struktury projektu
      li Parę słów o callbackach
    
    
